<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-4 card-col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<%= image_path('fast-track.png') %>" alt="senador" class="image-icon">
              <h3 class="card-title">Senadores</h3>
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 card-col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<%= image_path('document.png') %>" alt="senador" class="image-icon">
              <h3 class="card-title">Senadores</h3>
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 card-col">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="<%= image_path('compare.png') %>" alt="senador" class="image-icon">
              <h3 class="card-title">Senadores</h3>
            </div>
            <div class="flip-card-back">
              <h1>John Doe</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<p>Find me in app/views/pages/home.html.erb</p>
<%= form_with url: "/comparativos", method: :get do |form| %>
  <%= form.select :senador1,  @senadores.map { |parlamentar| ["#{parlamentar[:name]} - #{parlamentar[:party]}", parlamentar[:senate_key]]} %>
  <%= form.select :senador2,  @senadores.map { |parlamentar| ["#{parlamentar[:name]} - #{parlamentar[:party]}", parlamentar[:senate_key]]} %>
  <%= form.submit "Procurar" %>
<% end %>
