<header>
  <div class="hero-banner">
    <div class="container">
      <div class="hero-text">
        <h1>Esse é o título do site</h1>
        <h2>Esse é o subtítulo do site. Esse é o subtítulo do site.</h2>
      </div>
    </div>
  </div>
</header>
<section>
  <%= render 'cards' %>
</section>
<p>Find me in app/views/pages/home.html.erb</p>
<%= form_with url: "/comparativos", method: :get do |form| %>
  <%= form.select :senador1,  @senadores.map { |parlamentar| ["#{parlamentar[:name]} - #{parlamentar[:party]}", parlamentar[:senate_key]]} %>
  <%= form.select :senador2,  @senadores.map { |parlamentar| ["#{parlamentar[:name]} - #{parlamentar[:party]}", parlamentar[:senate_key]]} %>
  <%= form.submit "Procurar" %>
<% end %>
