<div class="container">
  <h1>test</h1>

  <div class="contain">
    <p></p>
  </div>

  <table data-controller="comparison-table">
    <thead>
      <tr>
        <td>Matéria</td>
        <td>Voto</td>
        <td>Descrição da Votação</td>
        <td>Segundo</td>
      </tr>
    </thead>
    <tbody>

      <% @senador_primary_votes.each do |vote_primary| %>
        <% secondary_vote = Vote.joins(:senator).where('senate_key=? AND session_code=?', @senador_secondary.senate_key, vote_primary.session_code) %>
        <tr class="line-comparison" data-comparison-table-target="lineComparison">
          <td><%= vote_primary.bill.name %></td>
          <td class="primary-choice" <%= 'data-comparison-table-target=votedPrimary' if vote_primary.choice == "Sim" || vote_primary.choice == "Não" %>><%= vote_primary.choice %></td>
          <td><%= vote_primary.bill.description %></td>
          <% if secondary_vote.empty? %>
            <td class="secondary-choice"><%= @senador_secondary.name %> não tem registro de voto.</td>
          <% else %>
            <td class="secondary-choice" <%= 'data-comparison-table-target=votedSecondary' if (secondary_vote.first.choice == "Sim" || secondary_vote.first.choice == "Não") && (vote_primary.choice == "Sim" || vote_primary.choice == "Não") %>><%= secondary_vote.first.choice %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
